* {
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
body {
    width: 100%;
    margin: auto; /*水平置中*/
    text-align: center;
    background-color: #d6e5f1;
}

header {
    height: 80px;
    background-image: url('../images/title.jpg'); /*url是實體檔案的路徑*/
    background-repeat: no-repeat; /*圖片不重複顯示*/
    background-position: center;
    background-size: cover; /*讓背景圖整個「不變形」、「寬高等比例」、「在必要時局部裁切」的鋪滿整個容器空間 */
}

nav {
    margin-bottom: 20px !important; /*!important 指這個樣式優先執行*/
    background-color: #8caccf;
    font-family: 標楷體;
}
.main-menu {
    /* 主選單的樣式 */
    color: black;
    background-color: #8caccf;
    padding: 10px 12px;
    margin: 0;
    cursor: pointer; /*滑鼠游標屬性*/
    display: inline-block;
    min-width: 134px;
    text-align: center;
    font-size: 1.5em;
}

.main-menu-1 {
    background-color: #8caccf;
    padding: 5px 15px;
    margin: 1px;
    cursor: pointer;
    display: inline-block;
    min-width: 50px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 20px;
}
.main-menu-2 {
    background-color: #fffda4d7;
    padding: 5px 15px;
    margin: 1px;
    cursor: pointer;
    display: inline-block;
    min-width: 50px;
    text-align: center;
    font-size: 1em;
    border-radius: 20px;
}
.main-menu:hover {
    color: black;
    background-color: #fffda4d7;
}

.main-menu a {
    color: black;
    text-decoration: none;
}

.sub-menu {
    /* 下拉清單的樣式 */
    color: black;
    background-color: #fcfcfc;
    margin: 10px -12px;
    padding: 0px;
    min-width: 134px;
    list-style-type: none; /*清除清單上面的預設小圖示*/
    position: absolute;
    text-align: center;
    z-index: 2;
}
.sub-menu li {
    /* 下拉清單每一列的樣式 */
    padding: 5px 5px;
    text-align: center;
}
.sub-menu li:hover {
    color: #fcfcfc;
    background-color: #f6cf7b;
}
.sub-menu a {
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
}
.sub-menu a:hover {
    color: #fcfcfc;
    text-decoration: none;
    background-color: #f6cf7b;
}
.setting {
    color: black;
    text-decoration: none;
}
.setting-1 {
    color: black;
    text-decoration: none;
    font-family: 微軟正黑體;
}
main {
    margin-top: 1%;
    background-color: #d6e5f1;
    font-family: 標楷體;
}

@media screen and (min-width: 900px) {
    .fixed-width {
        width: 900px;
        margin: auto;
    }
    .col-xl-1 {
        width: calc(100% / 2 * 1);
    }

    .col-xl-2 {
        width: calc(100% / 2 * 2);
    }

    aside {
        height: 634px;
    }
    article {
        float: right;
    }

    footer ul li {
        float: left;
    }
}

@media screen and (max-width: 900px) {
    footer {
        height: 120px !important;
        clear: both;
    }
}

@media screen and (max-width: 768px) {
    .slider {
        height: 400px;
    }
}

.full-width {
    width: 100%;
    margin: auto;
}

/* ---------Slider------------ */

.slider {
    width: 100%;
    max-width: 100vw;
    height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}
.list img {
    width: 900px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.buttons button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: black;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.dots {
    position: absolute;
    bottom: 5px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots li {
    list-style: none;
    width: 15px;
    height: 15px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}
.dots li.active {
    width: 30px;
}

/* ---------Slider------------ */

footer {
    margin-top: 20px !important;
    height: 60px;
    font-family: 標楷體;
    display: flex; /*改成水平排列*/
    justify-content: center; /*水平置中*/
    align-items: center; /*垂直置中*/
    background-color: #f3f3fa;
}

footer ul {
    padding: 0;
    margin: 0;
    line-height: 25px;
}

footer ul li {
    list-style: none;
}
a.no-color-change {
    color: inherit;
    text-decoration: none;
}

.no-color-change:hover {
    color: #8caccf; /* 在懸停時的顏色 */
}

